<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AntonioB DEV</title>
    <meta name="description" content="Portafolios de Antonio Blanca || Desarrollador web especializado en WordPress">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <!-- External CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/lightcase/lightcase.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <!--- Install cliengo -->
    <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/60ef8d904bfd11002a1dce21/60ef8d914bfd11002a1dce24.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>
</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">

<!-- Menú de navegación --->
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <h3 class="font-weight-bolder mb-0">{{ logo }}</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav-header">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" v-for="item in menu">
                        <a class="nav-link" v-bind:href="item.link">{{ item.nombre}}</a>
                    </li>

                     <li class="nav-item only-desktop">
                        <a class="nav-link" id="side-nav-open" href="#">
                            <span class="fa fa-bars"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--- FIN del menú --->

<!-- Menú lateral de contacto -->
    <div id="side-nav" class="sidenav">
    	<a href="javascript:void(0)" id="side-nav-close">&times;</a>
    	
    	<div class="sidenav-content">
    		<p>
    			Puede contactarme haciendo clic en una de las opciones:
    		</p>
    		<p>
    			<a href="https://api.whatsapp.com/send?phone=584268946000&text=Hola%20Antonio%2C%20he%20visitado%20tu%20portafolios%20y%20me%20gustar%C3%ADa%20conversar%20contigo%20sobre%20mi%20proyecto" target="_blank">Whatsapp: (+58) 426-8946000</a>
    		</p>
            <p>
                <a href="https://t.me/solucweb" target="_blank">Telegram: @solucweb</a>
            </p>
    	</div>
    </div><div id="side-search" class="sidenav">
    	<a href="javascript:void(0)" id="side-search-close">&times;</a>
    	<div class="sidenav-content">
    		<form action="">

    			<div class="input-group md-form form-sm form-2 pl-0">
    			  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
    			  <div class="input-group-append">
    			    <button class="input-group-text red lighten-3" id="basic-text1">
    			    	<span class="lnr lnr-magnifier"></span>
    			    </button>
    			  </div>
    			</div>

    		</form>
    	</div>
<!-- FIN - Menú lateral de contacto -->
	
</div>

<!-- Sección "Inicio" -->
<div class="jumbotron d-flex align-items-center" id="inicio">
  <div class="container text-center">
    <h1 class="display-1 mb-4">ANTOB<br>DEV</h1>
  </div>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
  	<img src="img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-2">
  	<img src="img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-3">
  	<img src="img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="img/obj_triangle.png" alt="">
  </div>
</div>
<!-- FIN - Sección "Inicio" -->


<!-- Sección "Servicios" -->
<section id="servicios" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    Desarrollador web especialista en <a href="https://gettemplates.co" target="_blank">WordPress</a>
                </h2>
                <p class="section-sub-title">Con +4 años de experiencia en el desarrollo web <br> basado en este maravilloso CMS.</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="fas fa-desktop fs-60"></i>
                                    <i class="fas fa-tablet-alt fs-50"></i>
                                    <i class="fas fa-mobile-alt fs-40"></i>
                                </div>
                                <h4>Páginas web responsive</h4>
                                <p>Trabajo con Elementor page builder y con child themes para adaptar el tema a lo que necesites.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="fas fa-book-reader fs-50"></i>
                                </div>
                                <h4>Catálogos Online</h4>
                                <p>Si sólo necesita mostrar un catálogo con sus productos/servicios, soy la persona correcta para realizarlo y que lo administre de la manera más sencilla.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="fas fa-plane-arrival fs-50"></i>
                                </div>
                                <h4>Landing Pages</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="far fa-list-alt fs-50"></i>
                                </div>
                                <h4>Cotizadores</h4>
                                <p>Puedo realizar un catálogo dónde los clientes puedan agregar los productos/servicios que deseen y solicitar la cotización fácil y rápido.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="fas fa-store-alt fs-50"></i>
                                </div>
                                <h4>Tiendas Online</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="fas fa-book-open fs-50 "></i>
                                </div>
                                <h4>Catálogos para vendedores</h4>
                                <p>Si tienes una red de vendedores para tus productos, puedo realizar el catálogo perfecto para que estos lo muestren e introduzcan los pedidos.</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>
<!-- FIN - Sección "Servicios" -->


<!-- Sección "Sobre mi" -->
<section id="sobre-mi" class="featurettes overlay bg-fixed" style="background-image: url(img/bg.jpg);">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center text-white">

                        <div class="col-md-4 offset-md-2 col-sm-6" data-aos="fade-right">
                            <h4 class="mb-4">Conóceme un poco...</h4>
                            <p>Llevo más de 4 años en el mundo del desarrollo web, y me he especializado en WordPress dado que es lo que más se me ha solictado durante estos años (Al menos el 95% de mi portafolios son proyectos en WordPress), así que decidí llevar mis conocimientos sobre este maravilloso CMS más allá de lo básico y conocerlo hasta sus características avanzadas.</p>

                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">Elementor Free/PRO 98%</div>
                            </div>

                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Woocommerce 90%</div>
                            </div>

                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">Custom Post Types 95%</div>
                            </div>

                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">Advance Custom Fields PRO 90%</div>
                            </div>
                            
                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">Child Themes 95%</div>
                            </div>

                            <a href="#contacto" class="btn btn-outline-primary">CONTACTAR</a>
                        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                        <div class="col-md-4 offset-md-right-2 col-sm-6" data-aos="flip-right">
                            <img class="my-5" src="img/pic-antoniob.webp" alt="">
                        </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                    </div><!--/ .featurettes-item -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->
</section>

<section id="section-featurettes" class="featurettes">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center">

                        <div class="col-md-4 offset-md-2 col-sm-6" data-aos="flip-left">
                            <img class="my-5" src="img/pic-antoniob_2.webp" alt="">
                        </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                        <div class="col-md-4 offset-md-right-2 col-sm-6" data-aos="fade-left">
                            <h4 class="mb-4">¿Trabajas sin WordPress tambíen?</h4>
                            <p>Por supuesto, puedo realizar sus sitios web o landing page sin usar ningún CMS, siempre y cuando sean proyectos que no requieran un dashboard para administrarlos, con gusto puedo hacerlos, en caso contrario, por cuestiones de tiempo de desarrollo prefiero trabajarlos en WordPress, dado que su dashboard es muy intuitivo además de poderse adaptar perfectamente a las necesidades del proyecto</p>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">HTML5 95%</div>
                            </div>

                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">CSS3 90%</div>
                            </div>

                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">PHP 90%</div>
                            </div>

                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">JavaScript 80%</div>
                            </div>
                            <a href="#contacto" class="btn btn-primary">CONTACTAR</a>
                        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                    </div><!--/ .featurettes-item -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->
</section>
<!-- FIN - Sección "Sobre mi" -->


<!-- Sección "Portafolios" -->
<section id="portafolios" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap">
                <h2 class="section-title">Proyectos <b>de calidad</b> para clientes de calidad</h2>
                <p class="section-sub-title">Proyectos realizados por mi a lo largo de estos años,<br>tanto en WordPress como PrestaShop y otras tecnologías.</p>
            </div>
            <div class="row">
                <div class="col-md-12 portfolio-holder mt-3">
                    <!-- Filtros del portafolios -->
                    <div class="filter-button-group btn-filter d-flex justify-content-center">
                        <a tabindex="0" class="active" data-filter="*">Mostrar todo</a>
                        <a tabindex="0" data-filter=".wordpress">WordPress</a>
                        <a tabindex="0" data-filter=".prestashop">PrestaShop</a>
                        <a tabindex="0" data-filter=".otros">Otros</a>
                    </div>
                    <!-- FIN de filtros del portafolios -->

                    <!-- Items del portafolios -->
                    <div class="grid-portfolio">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <!-- Portfolio Item -->
                        <div v-for="item in portafolios" v-bind:class="'grid-item '+item.categoria" data-aos="fade-up">
                            <div class="grid-item-wrapper">
                                <img v-bind:src="'img/portafolios/'+item.imagen+'.webp'" alt="portfolio-img" class="portfolio-item">
                                <div class="grid-info">
                                    <div class="grid-link d-flex justify-content-center">
                                        <a class="img-pop" data-rel="lightcase" v-bind:href="'img/portafolios/'+item.imagen+'.webp'" v-bind:title="item.titulo">
                                            <span class="fas fa-search-plus fs-30"></span>
                                        </a>
                                        <a class="ext-link" v-bind:href="item.url" target="_blank">
                                            <span class="fas fa-link fs-30"></span>
                                        </a>
                                    </div>
                                    <div class="grid-title">
                                        <h4 class="font-weight-bold">{{ item.titulo }}</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- FIN de items del portafolios -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN - Sección "Portafolios" -->


<!-- Sección "Testimonios" -->
<section id="testimonios" class="section-padding bg-fixed bg-white overlay" style="background-image: url(img/bg-white.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="heading-section text-center">
                <h2>
                    Testimonios de clientes
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item text-center" v-for="item in testimonios">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <h4 class="testi-text">{{ item.mensaje }} </h4>
                        <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                            <div class="testi-img mr-2">
                                <img v-bind:src="'img/'+item.imagen" alt="">
                            </div>
                            <div class="testi-details">
                                <p class="testi-author mb-0 font-weight-bolder"><b>{{ item.nombre }}</b></p>
                                <p class="testi-desc mb-0">{{ item.proyecto }} - <b>{{ item.pais }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- FIN - Sección "Testimonios" -->


<!-- Sección "Tecnologías manejadas" -->
<section id="tecnologias" class="overlay bg-fixed" style="background-image: url(img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row ">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="title-wrap mb-5">
                        <h2>Algunas de las tecnologías que utilizo</h2>
                    </div>
                    <!-- End of Section Title -->
                </div>
                <!-- Client Holder -->
                <div class="col-md-12 client-holder">
                    <div class="client-slider owl-carousel">
                        <div class="client-item" v-for="item in tecnologias">
                            <img class="img-responsive" v-bind:src="'img/'+item.imag" v-bind:alt="item.title">
                        </div>
                    </div>
                    <!-- End of Client Holder -->
                </div>
            </div>
        </div>
</section>
<!-- FIN - Sección "Tecnologías manejadas" -->

<!-- Sección "Contacto" -->
<section id="contacto" class="bg-white section-content">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-5 offset-lg-1 mb-5 mb-lg-0" data-aos="fade-right">
                <div class="bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 class="mb-4">
                            Contáctame
                        </h2>
                    </div>
                    <form method="post" name="contact-us" action="">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="websiteUrl" name="websiteUrl" placeholder="Website">
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..."></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="col-lg-10 offset-lg-1" data-aos="fade-left">
                <h2 class="mb-4 text-center">
                    SIN COMPROMISO
                </h2>
                <p class="mb-4 text-center px-md-5">Puede escribirme por los medios proporcionados <b>SIN COSTO ALGUNO</b> para que podamos evaluar su proyecto y brindarle la mejor solución.</p>
                <ul class="list-inline py-2 text-center">
                    <li class="list-inline-item text-center pr-3">
                        <a href="https://api.whatsapp.com/send?phone=584268946000&text=Hola%20Antonio%2C%20he%20visitado%20tu%20portafolios%20y%20me%20gustar%C3%ADa%20conversar%20contigo%20sobre%20mi%20proyecto"class="fab fa-whatsapp fs-40" target="_blank"></a>
                        <p><a href="https://api.whatsapp.com/send?phone=584268946000&text=Hola%20Antonio%2C%20he%20visitado%20tu%20portafolios%20y%20me%20gustar%C3%ADa%20conversar%20contigo%20sobre%20mi%20proyecto" class="btn btn-link p-0" target="_blank"><span>IR AL WHATSAPP</span></a></p>
                    </li>
                    <li class="list-inline-item text-center pl-3">
                        <a href="https://t.me/solucweb" class="fab fa-telegram-plane fs-40" target="_blank"></a>
                        <p><a href="https://t.me/solucweb" class="btn btn-link p-0" target="_blank"><span>IR AL TELEGRAM</span></a></p>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
<!-- FIN - Sección "Contacto" -->

<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">¡Hagamos de tu proyecto una maravillosa realidad!</h2>
                    <p>Soy un profesional en lo que hago, y es por ello que puedo asegurarte un resultado de la mejor calidad, a la ultura de tu negocio.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section--></div>

<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-12 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">&copy; 2021 Antonio B-DEV || Roxy. Design by <a href="https://gettemplates.co" target="_blank">GetTemplates</a>.</p>
         	</div>
           
            <!-- <div class="col-lg-4 col-md-12">
            	<nav class="nav nav-mastfoot justify-content-center">
	                <a class="nav-link" href="#">
	                	<i class="fab fa-facebook-f"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-twitter"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-instagram"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-linkedin"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-youtube"></i>
	                </a>
	            </nav>
            </div> -->
            
        </div>
    </div>
</footer>

    <!-- Some scripts -->
    <script src="js/vue-prod.js"></script>
    <script src="js/app-vue.js"></script>
    <!-- External JS -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="vendor/bootstrap/popper.min.js"></script>
	<script src="vendor/bootstrap/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js "></script>
	<script src="vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="vendor/isotope/isotope.min.js"></script>
	<script src="vendor/lightcase/lightcase.js"></script>
	<script src="vendor/waypoints/waypoint.min.js"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="js/app.min.js "></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
